body {
    background: #f4f6f9;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-container {
    background: white;
    padding: 40px;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
    text-align: center;
}

h2 {
    margin-bottom: 5px;
}

.subtitle {
    color: #666;
    margin-bottom: 20px;
}

.form-group input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.primary-btn {
    width: 100%;
    padding: 12px;
    background: #4a6cf7;
    border: none;
    color: white;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16px;
}

.google-btn {
    width: 100%;
    padding: 12px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.google-btn img {
    width: 18px;
}

.switch {
    margin-top: 20px;
    font-size: 14px;
}
.switch a {
    color: #4a6cf7;
}
